{% load static %}
{% load humanize %}

<!-- ロード中に表示する内容 -->
<div id="loading">
  <p class="btn btn-default btn-lg">
    <i class="zmdi zmdi-rotate-right zmdi-hc-spin"></i>
  </p>
</div>

<ul id="gallery">
  {% for food in object_list %}
  <li class="item">
    <div class="hover11 column">
      <figure>
        <img src="{{ food.image.url }}">
        <p>{{ food.name }}</p>
        <figcaption>{{ food.price|intcomma:False }} RWF</figcaption>
      </figure>
    </div>
  </li>
  {% endfor %}
</ul>
