{% extends "base.html" %}
{% block title %}{{ block.super }}{% endblock %}
{% block description %}マイブログです。毎日更新します。{% endblock %}

{% load static %}

{% block content %}
<br>
<!-- ロード中に表示する内容 -->
<div id="loading">
  <p class="btn btn-default btn-lg">
    <i class="zmdi zmdi-rotate-right zmdi-hc-spin"></i>
  </p>
</div>

<ul id="gallery">
  {% for food in object_list %}
  <li class="item">
    <figure>
      <a href="{% url 'delivery:detail_food' food.name %}">
        <img src="{{ food.image.url }}">
      </a>
      <p>{{ food.name }}</p>
      <figcaption>{{ food.price }} RWF</figcaption>
    </figure>
  </li>
  {% endfor %}
</ul>
{% endblock %}
